---
import type { Skill } from "../types";
import { marked } from "marked";
import Pill from "./Pill.astro";

interface Props {
  item: Skill;
}

const { item } = Astro.props;
const descriptionHtml = await marked.parse(item.description);
---

<div class="cv-item">
  <p class="period">
    {item.level} - {item.experience} years
  </p>
  <h3><strong>{item.name}</strong></h3>
  {
    item.related && item.related.length > 0 && (
      <ul class="techs">
        {item.related.map((t) => (
          <li>
            <Pill text={t} />
          </li>
        ))}
      </ul>
    )
  }
  <p set:html={descriptionHtml} />
</div>
